<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DNS Agent</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Dashboard
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="logs">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Query Logs
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
             <NavLink class="nav-link" href="whitelist">
                <span class="bi bi-shield-check-nav-menu" aria-hidden="true"></span> Whitelist
            </NavLink>
        </div>
    </nav>
</div>
